a .container {
    display: flex;
    flex-wrap: wrap;
}

.note, .note_list {
    background: #eee;
    box-shadow: #999 1px 1px 3px;
    margin-right: 21px;
    height: 53%;
    position: relative;
    width: 62%;
    overflow: hidden;
    min-width: 300px;
}

.note_list {
    width: 32%;
}

.list {
    text-align: left !important;
}

.getNote {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.delete, .edit {
    float: right;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 10px;
    cursor: pointer;
}

.edit {
    padding-left: 106%;
}

a .container {
    display: flex;
    flex-wrap: wrap;
}

.note, .note_list {
    background: #eee;
    box-shadow: #999 1px 1px 3px;
    margin-right: 21px;
    height: 53%;
    position: relative;
    width: 62%;
    overflow: hidden;
    min-width: 300px;
}

.note_list {
    width: 32%;
}

.list {
    text-align: left !important;
}

.getNote {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.delete, .edit {
    float: right;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 10px;
    cursor: pointer;
}

.edit {
    position: absolute;
    right: 40px;
}

.delete {
    position: absolute;
    right: 10px;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
}

.date {
    top: 1px;
    left: 0;
    padding: 15px;
    font-size: 0.7em;
    font-style: italic;
    color: #000;
    position: relative;
}

a {
    color: black
}

body > div > div.note_list > span.icons {
    display: none;
}

.icons {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

div[contenteditable] {
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    box-shadow: none;
    margin: 0px;
    padding: 10px 20px 10px;
    min-height: 300px;
    background: #f9f9f9;
    list-style: none;
    text-align: left;
    height: 10px;
}

.hide {
    display: none !important;
}

@media screen and (max-width: 915px) {
    .note, .note_list {
        margin-right: 21px;
        height: 53%;
        position: relative;
        width: 55%;
        overflow: hidden;
    }

    .note_list {
        width: 35%;
        margin: 0 auto;
    }

    body {
        width: 97%;
    }
}

@media screen and (max-width: 748px) {
    .note, .note_list {
        margin: 5px;
        height: 53%;
        position: relative;
        width: 94% !important;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .note_list {
        width: 35%;
        margin: 5px;
    }

    body {
        width: 97%;
    }
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
}

.date {
    top: 1px;
    left: 0;
    padding: 15px;
    font-size: 0.7em;
    font-style: italic;
    color: #000;
    position: relative;
}

a {
    color: black
}

body > div > div.note_list > span.icons {
    display: none;
}

.icons {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

div[contenteditable] {
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    box-shadow: none;
    margin: 0px;
    padding: 10px 20px 10px;
    min-height: 300px;
    background: #f9f9f9;
    list-style: none;
    text-align: left;
    height: 10px;
}

.hide {
    display: none !important;
}

@media screen and (max-width: 915px) {
    .note, .note_list {
        margin-right: 21px;
        height: 53%;
        position: relative;
        width: 55%;
        overflow: hidden;
    }

    .note_list {
        width: 35%;
        margin: 0 auto;
    }

    body {
        width: 97%;
    }
}

@media screen and (max-width: 748px) {
    .note, .note_list {
        margin: 5px;
        height: 53%;
        position: relative;
        width: 94% !important;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .note_list {
        width: 35%;
        margin: 5px;
    }

    body {
        width: 97%;
    }
}
