body{
    font-family: 'Source Sans Pro', sans-serif;
    background: #0000006b;
}
a .container {
    display: flex;
    flex-wrap: wrap;
}
table{
    width:100%;
}
.filename{
    width:100%;
}
.note, .note_list {
    background: #eee;
    box-shadow: #999 1px 1px 3px;
    margin-right: 21px;
    height: 53%;
    position: relative;
    width: 62%;
    overflow: hidden;
    min-width: 300px;
}

.note_list {
    width: 32%;
}

.list {
    text-align: left !important;
}

.getNote {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.delete, .edit {
    float: right;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 10px;
    cursor: pointer;
}
a .container {
    display: flex;
    flex-wrap: wrap;
}

.note, .note_list {
    background: #eee;
    box-shadow: #999 2px 1px 3px;
    margin-right: 21px;
    margin-left: auto;
    height: 53%;
    position: relative;
    width: 62%;
    overflow: hidden;
    min-width: 300px;
    height: 100%;
    border-radius: 10px;
}

.note_list {
    width: 32%;
}

.list {
    text-align: left !important;
    height: 95% !important;
}

.getNote {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.delete, .edit {
    float: right;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 10px;
    cursor: pointer;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
}

.date {
    top: 1px;
    left: 0;
    padding: 15px;
    font-size: 0.7em;
    font-style: italic;
    color: #000;
    position: relative;
}
div.col-sm-2.col-xs-4.text-center{
    display:none;
    position: unset;
    width: 100%;
    height: 100%;
    top: 0;
}
div.col-sm-2.col-xs-4.text-center > div{
    position: absolute;
    top: 42%;
    left: 45%;
    z-index: 1000000;
}
a {
    color: black
}

body > div > div.note_list > span.icons {
    display: none;
}

.icons {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

div[contenteditable] {
    position: relative;
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    box-shadow: none;
    margin: 0px;
    padding: 10px 20px 10px;
    min-height: 300px;
    background: #f9f9f9;
    list-style: none;
    text-align: left;
    height: 100%;
    overflow:auto;
}

.hide {
    display: none !important;
}

@media screen and (max-width: 915px) {
    .note, .note_list {
        margin-right: 21px;
        height: 53%;
        position: relative;
        width: 55%;
        overflow: hidden;
    }

    .note_list {
        width: 35%;
        margin: 0 auto;
    }

    body {
        width: 97%;
    }
}

@media screen and (max-width: 748px) {
    .note, .note_list {
        margin: 5px;
        height: 53%;
        position: relative;
        width: 94% !important;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .note_list {
        width: 35%;
        margin: 5px;
    }

    body {
        width: 97%;
    }
}

.container {
    position: relative;
    width: 100%;
    height: 88%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    text-align: center;
}

.date {
    top: 4px;
    left: 0;
    padding: 15px;
    font-size: 0.7em;
    font-style: italic;
    color: #000;
    position: relative;
}

a {
    color: black
}

body > div > div.note_list > span.icons {
    display: none;
}

.icons {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

div[contenteditable] {
    position: relative;
    font-size: .9em;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    box-shadow: none;
    margin: 8px 0 0 0;
    padding: 0px 20px 0 10px;
    min-height: 300px;
    background: #f9f9f9;
    list-style: none;
    text-align: left;
    overflow: auto;
    height: 95% !important;
}

.hide {
    display: none !important;
}

@media screen and (max-width: 915px) {
    .note, .note_list {
        margin-right: auto;
        height: 100%;
        margin-left: auto;
        position: relative;
        width: 55%;
        overflow: hidden;
    }

    .note_list {
        width: 35%;
        margin-left: auto;
    }

    body {
        width: 97%;
    }
}

@media screen and (max-width: 748px) {
    .note, .note_list {
        margin-left: auto;
        height: 53%;
        position: relative;
        width: 94% !important;
        overflow: auto;
        margin-bottom: 10px;
        height: 50%;
    }

    .note_list {
        width: 35%;
        margin-left: auto;
    }

    body {
        width: 97%;
    }
}


/*
Not my work!
Credit: jlong  @github
Source: https://github.com/jlong/css-spinners
The presentation website was down so I created this codepen to preview the spinners
*/

@-moz-keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.spinner-loader:not(:required) {
  -moz-animation: spinner-loader 1500ms infinite linear;
  -webkit-animation: spinner-loader 1500ms infinite linear;
  animation: spinner-loader 1500ms infinite linear;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  display: inline-block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin: 1.5em;
  overflow: hidden;
  text-indent: 100%;
}

@-moz-keyframes refreshing-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes refreshing-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes refreshing-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.refreshing-loader:not(:required) {
  -moz-animation: refreshing-loader 1000ms infinite linear;
  -webkit-animation: refreshing-loader 1000ms infinite linear;
  animation: refreshing-loader 1000ms infinite linear;
  -moz-border-radius: 2.4em;
  -webkit-border-radius: 2.4em;
  border-radius: 2.4em;
  border: 0.4em solid #9ac;
  border-left-color: transparent;
  color: transparent;
  display: inline-block;
  font-size: 10px;
  line-height: 1.2;
  width: 3em;
  height: 3em;
  text-indent: 100%;
}
.refreshing-loader:not(:required):after {
  display: block;
  border: 0.5em solid transparent;
  border-top-color: #9ac;
  border-left-color: #9ac;
  content: '';
  width: 0;
  height: 0;
  overflow: hidden;
  margin-left: -0.2em;
  margin-top: 1em;
}

/** nav bar **/
.nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
    margin-bottom: 10px;
    border-radius: 15px;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover {
      /* background-color: rgba(0, 0, 0, 0.3); */
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      /* width: 100%; */
    }
    .nav > #nav-check:not(:checked) + .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked + .nav-links {
      height: auto;
      width:100%;
      z-index: 100;
      border-radius: 14px;
    }
  }